.mynavbar{
    background-color: #4741AF;
}
.nav-link{
    color: white;
    font-sitze: 18px;
    font-weight: 700px;
    padding: 53px 0;

}
.navbar-brand{
    color: white;
    font-size: 45px;
    font-weight: 900;

}
